<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.evolutil.zeplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">
        <activity
            android:name=".activity.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".player.Mp3Service"
            android:exported="false">
            <intent-filter>
                <action android:name="MP3PLAYER_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.Settings"
            android:label="@string/main_menu_settings"
            android:parentActivityName=".activity.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.evolutil.zeplayer.activity.Main" />
        </activity>

    </application>

</manifest>